@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#fafafa] text-[#161515] tracking-wide font-PlayFair
    }

    h1,
    h2,
    h4,
    h5,
    h6 {
        @apply font-semibold
    }

    /* prettier-ignore */
    /* h1 {
        @apply text-2xl mb-1 tracking-[0.4rem]
    } */

    /* prettier-ignore */
    h2 {
        @apply text-[1rem] md:text-[1.2rem] font-DancingScript font-extrabold
    }

    h3 {
        @apply font-Montserrat text-sm lg:text-3xl tracking-wide lg:tracking-wider leading-7 lg:leading-10
    }

    h5 {
        @apply tracking-wider leading-7 text-lg
    }

    h6 {
        @apply text-[#5f5e5e] my-3.5 text-sm font-extrabold tracking-widest
    }

    p {
        @apply tracking-wider text-xs font-Montserrat leading-5
    }

}

/* body {
    background-image: linear-gradient(rgba(0, 0, 0, -1), rgba(0, 0, 0, -1)),
        url(../public/assets/background.jpg);
    background-repeat: no-repeat;
} */